# Your github token
GITHUB_TOKEN="your_github_token"

# Your linkedin crawler (your_reverse_contact_key) api key
API_KEY_LINKEDIN_CRAWLER = "your_reverse_contact_key"

# Your groq api key
GROQ_API_KEY="your_groq_api_key"